{% extends "base.html" %}

{% block title %}
    Question
{% endblock %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <br>
    {{ max_votes_answer }} - {{ max_votes_answer.votes }}
    <hr>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for answer in question.answers.all %}
            <input type="radio"
                   name="answer"
                   value="{{ answer.id }}" />
                {{ answer }}
                <br>
                <ul>
                    {% for each_answer in answer.answer_id.description_set.all %}
                        <li>
                        {{ each_answer.description }} {{ each_answer.digital_info }}
                        </li>
                    {% endfor %}
                </ul>
        {% endfor %}
         <br>
        <input type="submit" value="Vote" />
    </form>
{% endblock %}
