{% extends "base.html" %}

{% block title %}
    Question
{% endblock %}

{% block content %}
    <h3>{{ question.title }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for answer in question.question_votes_counters.all %}
            <input type="radio"
                   name="answer"
                   value="{{ answer.id }}" />
                {{ answer }}
                <br>
                <ul>
                    {% for each_answer in answer.answer.description_set.all %}
                        <li>
                        {{ each_answer.text_info }} {{ each_answer.digital_info }}
                        </li>
                    {% endfor %}
                </ul>
        {% endfor %}
         <br>
        <input type="submit" class="btn btn-primary" value="Vote" />
    </form>
{% endblock %}
